
@use 'variables' as v;
@use 'initial';
@use 'mixins' as mx;

/*header*/
.header__title{
    text-align: center;
    color: v.$Dark-grayish-cyan;
    font-size: 1em;
    margin: 30px 0;
    letter-spacing: 8px;
}

.calculator-container{
    background-color: v.$White;
    width: 375px;
    //center
    margin: auto;
    border-radius: 16px;
    padding: 32px;
}
.inputs-section__bill-label{
   @include mx.label
}
.inputs-section__bill-input{
    @include mx.input("../images/icon-dollar.svg");
}

/*Botones*/
.btns{
    border: none;
    //uno debajo del otro
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 30px;
    &__legend{
        @include mx.label
    }
    &__button{
        width: 148px;;
        height: 50px;
        background-color: v.$Very-dark-cyan;
        color: v.$Very-lightgrayish-cyan;
        font-family: v.$font;
        font-size: 1em;
        border: none;
        border-radius: 6px;
        &:hover{
            cursor: pointer;
        }
        &:active{
          background-color: v.$Strong-cyan;
          color: v.$Dark-grayish-cyan;  
        }

    }
    &__custom{
        @include mx.input(unset);
        text-align: center;
        color: v.$Dark-grayish-cyan;
    }
}
.btns__button--selected {
    background-color: hsl(172deg, 67%, 45%);
    color: hsl(183deg, 100%, 15%);
  }

/*Section input*/
.inputs-section__people-label{
    @include mx.label
}

.inputs-section__people-input{
    @include mx.input("../images/icon-person.svg")
}
.error{
    color: rgb(164, 68, 68);
    &::after{
        content: "Can't be zero";
        font-size: 0.7em;
        
    }
}

/*Result section*/
.results-section{
    background-color: v.$Very-dark-cyan;
    border-radius: 12px;
    padding: 42px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    gap: 20px;//espacio
    &__tip-amount{
        font-size: 0.75em;
        color: v.$Very-lightgrayish-cyan;
    }
    &__tip-person{
        font-size: 0.65em;
        color: v.$Light-grayish-cyan;
    }
    &__tip-value{
        font-size: 1.2em;
        color: v.$Strong-cyan;
    }
    &__total-amount{
       @extend .results__tip-amount;
    }
    &__total-person{
        @extend .results__tip-person;
    }
    &__total-value{
        @extend .results__tip-value;
    }
}
.results-section_reset{
    background-color: v.$Strong-cyan;
    height: 50px;
    color: v.$Very-dark-cyan;
    text-transform: uppercase;
    font-family: v.$font;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
        background-color: v.$Very-lightgrayish-cyan;
    }
}

/*footer*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 40px 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*--------DESKTOP--------*/
@media (min-width:1440px) {
    .header__title{
        margin: 160px 90px;
    }
    .calculator-container{
        width: 900px;
        display: flex;
        gap: 50px;
    }
    .inputs-section{
        flex: 1;
    }
    .results-section{
        flex: 1;
    }
    .btns{
        grid-template-columns: repeat(3,1fr);
        &__button{
            width: 120px;
        }
    }
    .results{
        &__tip-value{
            font-size: 2em;
            text-align: center;
        }
        &__total-value{
            font-size: 2em;
            text-align: center;
        }
    }
}
